<div class="container-fluid">
<!-- <div class="row">
  <div class="col-lg-6">
    <label>Toppings</label>
  <mat-form-field>
    <mat-select placeholder="Toppings" [(ngModel)]="toppings" multiple>
      <mat-select-trigger>
        {{toppings ? toppings[0] : ''}}
        <span *ngIf="toppings.length > 1" class="example-additional-selection">
          (+{{toppings.length - 1}} others)
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>
  {{toppings}}
  </div>
</div> -->
<!--< div class="row">
    <div class="col-lg-10">
  <form class="form-horizontal" [formGroup]="myform" (ngSubmit)="submitmyForm(myform.value)">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" formControlName="firstname" (focus)="disableEmailLastName()" id="first" name="firstname" class="form-control">
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text"  formControlName="lastname" id="last" name="lastname" class="form-control">
      </div>
      <div class="form-group">
        <label>Email ID</label>
        <input type="text"  formControlName="email" id="email" name="email" class="form-control">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-sm">
        <input type="button" (click)="resetForm($event)" value="reset" class="btn btn-warning btn-sm">
        <button type="button" class="btn btn-primary waves-light" mdbTooltip="Tooltip on top" placement="top" mdbWavesEffect>
          Tooltip on top
        </button>
      </div>
  </form>
  <pre>{{myform.value| json}}</pre>
</div>
</div> -->
<!-- <div class="row">
  <img class="animated rotateIn infinite" src="https://www.mercedes-benz.co.in/passengercars/_jcr_content/logo.noscale.cloudsvg.imageLogo.20180312094632.svg">
</div>
<div class="row">
  <nav>
    <a routerLink="/contries">Countries</a>
  </nav>
</div> -->
<div class="row mt-2">
    <div class="col-lg-12">
        <input type="button" (click)="getOnlyCreatedByAuthorUser()" value="User" class="btn btn-warning btn-sm">
        <input type="button" (click)="getOnlyCreatedByAuthorAdmin()" value="Admin" class="btn btn-warning btn-sm">
    </div>
  <div class="col-lg-12 mt-5">
    <p *ngFor="let user of cloned_users">User Name : {{user.userId}}, Name : {{user.name}}</p>
  </div>
</div>
</div>